#resultblock {
border:1px solid #e5e5e5;

}

.elem-0 {
 margin-left: 10px;
 background-color: #787878; 
 border: 1px solid #000;
 color: #fff;
}


.elem-elem {
background-color: #C0C0C0;

}

.elem-sub {
  margin-left: 20px;
}

.elem-1 {
 margin-left: 20px;
 background-color: #B0B0B0; 
} 

.path-container {
width: 600px;
}

.removedataelements {
border:1px solid #e5e5e5;
 background-color: #f8fff0; 
}

.removepids {
border:1px solid #e5e5e5;
 background-color: #f8fff0; 

}
.removemissingpids {
color: #8c2e0b;
border:1px solid #e5e5e5;
background-color: #FeF5f1; 

}

.hideajax {
color: #234600;
}
.hideajaxmissing {
color: #8c2e0b;
}
